* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    padding: 0 0;
    background-color: lightblue;
}
.container {
    margin:1% auto;
    width: 80%;
    padding: 1%;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: darkblue;
}

.text-center {
    text-align: center;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary {
    background-color: #00008B;
    color: white;
    cursor: pointer;
}
.btn-primary:hover {
    color: white;
    background-color: blue;
}
h2 {
    color: #2f3542;
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
    color: black;
}
.clear-fix {
    clear: both;
    float: none;

}
.img-responsive {
    width: 100%;
}
.img-curve {
    border-radius: 10px;
}
.float-container {
    position: relative;
}
.float-text {
    position: absolute;
    bottom: 50px;
    left: 40px;
}
/*css for navbar*/
.logo {
    width: 10%;
}
header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu ul li {
    list-style-type: none;
    float: left;
    margin: 10px;
}

.menu ul li a {
    overflow: hidden;
    padding: 14px 16px;
    font-weight: bold;
    text-decoration: none;
    
}
/*css for food search */
.search {
    background-image: url(images/bgg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/*css for categories*/
.Categories {
    padding: 3% 0;
}
.box-3 {
    width: 27%;
    float: left;
    margin: 2%;
}
/*css for food-menu*/
.food-menu-box{
    border: 1px solid black;
    width: 40%;
    margin: 1%;
    float: left;
    padding: 2%;
    border-radius: 15px;
}
.food-menu-img {
    width: 20%;
    float: left;
}
.food-menu-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}
.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-desc {
    font-size: 1rem;
}
/*css for socials */
.social  ul li a{
    list-style-type: none;
}
.social ul li {
    display: inline;
    padding: 1%;
}